@import url('https://fonts.googleapis.com/css?family=Bitter|Indie+Flower');

body {
background-image: url("../images/vanilla_cupcake_background.jpg");
background-size: cover;
font-family: Bitter, serif;
color: rgb(68,84,94);
position: relative;
}

h1{
  color: rgba(255,255,255,.5);
  margin-bottom: 5px;
}

p{
  text-align: right;
}

ul{
  list-style-type: none;
  color: black;
  text-align: right;
  font-family: "Indie Flower";
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: auto;
  left: 0;
  right: 0px;
}

#slogan{
  color: black;
  font-style: italic;
  text-align: left;
  margin-top: 5px;
}

#navigation{
  color: black;
  background-color: rgb(68,84,94);
  border-style: solid;
  border-color: rgb(152,167,191);
  border-radius: 25px;
}

#order_button{
  color: rgba(178,40,28,.5);
  background-color: rgb(152,167,191);
  border-style: solid;
  border-color: rgb(255,0,0);
  border-radius: 25px;
  text-align: center;
  position: fixed;
  width: 21.25%;
  margin: auto;
  left: auto;
  right: 0;
}

#secret{
  font-size: 5px;
}